<div class='col-md-4 cols' id='announcecol'>
    <div class='inner-event'>
        <h3 class='underline-title'><a href="../announcepage">Announcements</a><span
                    class="glyphicon glyphicon-plus pull-right open-modal" data-type=0 data-toggle="modal"
                    data-target="#add-announcement" aria-hidden="true"></span>
        </h3>
        <div class='row innerrow'>
            <% for(var i = 1; i <= announcements.length; i++) { if(typeof announcements[announcements.length - i] !== 'undefined') { %>
            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-toggle="modal"
                 data-type=0 data-id=<%- announcements[announcements.length - i]._id %> data-target="#add-announcement">
                <h4 class='panel-heading'>
                    <span class='title'><%= announcements[announcements.length - i].title %></span><span
                            class="label label-primary pull-right new<%= i %>">New</span></h4>
                <div class='panel-body'>
                    <div class='lead data-text remove-style'>
                        <%- announcements[announcements.length - i].description %>
                    </div>

                    <div class='announce-date'>
                        <% var dt = announcements[announcements.length - i].date; if (dt) { var newDt = new Date(); newDt.setDate(newDt.getDate() - 1); %>
                        <%= announcements[announcements.length - i].date.toString().substring(0, 21) %>

                        <% if(dt >= newDt) { %>
                        <script>
                            $('.new<%= i %>').show();
                        </script>
                        <% } } %>
                    </div>
                </div>
            </div>

            <% }} %>
        </div>
    </div>
</div>