<div id='fix'>
    <div id='innerContent'>

        <ul class='nav nav-tabs' role='tablist'>
            <li role='presentation' class='active'><a href='#home' aria-controls='home' role='tab'
                                                      data-toggle='tab'>View posts</a></li>
            <li role='presentation'><a href='#view' aria-controls='view' role='tab' data-toggle='tab'>View comments</a>
            </li>
        </ul>

        <div class='tab-content tab-larger'>
            <div role='tabpanel' class='tab-pane fade in active' id='home'>
                <table class='table table-striped table-hover'>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < forum.length; i++) { %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= forum[i].title %>
                        </td>
                        <td>
                            <%= forum[i].description %>
                        </td>
                        <td>
                            <%= forum[i].author %>
                        </td>
                        <td>
                            <%= new Date(forum[i].date).toDateString() %>
                        </td>
                        <td>
                            <button type='button' class='btn btn-default deleteAccount' aria-label='Delete'
                                    data-toggle='tooltip' data-placement='bottom' data-id='<%= forum[i]._id %>'
                                    title='Delete'><span
                                        class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div role='tabpanel' class='tab-pane fade' id='view'>
                <table class='table table-striped table-hover'>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Content</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < forum.length; i++) {
                            for(var j = 0; j < forum[i].comments.length; ++j) {
                    %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= forum[i].comments[j].text %>
                        </td>
                        <td>
                            <%= forum[i].comments[j].author %>
                        </td>
                        <td>
                            <%= new Date(forum[i].comments[j].date).toDateString() %>
                        </td>
                        <td>
                            <button type='button' class='btn btn-default deleteAccount' aria-label='Delete'
                                    data-toggle='tooltip' data-placement='bottom' data-type='comment' data-thread='<%= forum[i]._id %>' data-comment='<%= j %>' data-id='<%= forum[i].comments[j]._id %>'
                                    title='Delete'><span
                                        class='glyphicon glyphicon-remove' aria-hidden='true'></span></button>
                        </td>
                    </tr>
                    <% } } %>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<script>
    <% include js/manageForum.js %>
</script>