<span ng-controller="ModalController">
<div class="modal fade" id="add-announcement" tabindex="-1" role="dialog" aria-labelledby="addAnnouncement" ng-if="mayView()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <form method="post" enctype="application/json">
                <input type="hidden" name="school" value="<%- user.school %>">
                <input id='weekOffset' name="week" value=0>
                <div class="modal-body modal-add-body">
                    <div class="form-group">
                        <label for="announcementTitle" id='section-header'></label>
                        <input type="text" class="form-control" id="announcementTitle" name="title" placeholder="Title">
                    </div>
                    <div class="form-group description-form">
                        <label for="announcementDescription">Content</label>
                        <textarea type="text" class="form-control" id="announcementDescription" name="description"
								  placeholder="Text" rows="4"></textarea>
                    </div>
                    <div class="form-group category-form">
                        <label for="category">Category</label>
                        <select class="form-control" id='category' name='category' ng-model="category" ng-options="cat for cat in categories">
                        </select>
                    </div>
                    <div class="form-group datetime-form">

                        <div class="form-group event-location">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" name="location"
								   placeholder="Enter event address">
                        </div>

                        <div class="form-group event-description-form">
                            <label for="details">Details</label>
                            <textarea type="text" class="form-control" id="details" name="details"
									  placeholder="Enter event details" rows="4"></textarea>
                        </div>

						<% var s = ['start', 'end'];
						for(var i = 0; i < 2; ++i) { %>
						<div class="row">
                            <div class="col-md-6">
                                <label><%= s[i].charAt(0).toUpperCase() + s[i].slice(1) %> Date</label>
                                <input type="text" class="form-control"
									   id="schedule<%= s[i].charAt(0).toUpperCase() + s[i].slice(1) %>Date"
									   name="<%= s[i] %>Date"
									   placeholder="<%= s[i].charAt(0).toUpperCase() + s[i].slice(1) %> Date">
                                <span class='help-block'> <span class='glyphicon glyphicon-exclamation-sign'
																aria-hidden='true'></span><span></span></span>
                            </div>

                            <div class="col-md-6">
                                <div class="form-inline">

                                    <label class='up-label'><%= s[i].charAt(0).toUpperCase() + s[i].slice(1) %>
										time</label>

                                    <div class="form-group">
                                        <label>Hour</label>
                                        <select class="form-control" name='<%= s[i] %>Hour' id='<%= s[i] %>Hour' ng-model="hour" ng-options="h for h in range(24)">
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <label class='time-minute'>Minute</label>
                                        <select class="form-control" name='<%= s[i] %>Minute' id='<%= s[i] %>Minute' ng-model="minute" ng-options="m for m in range(12, 5)">
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
						<% } %>

						<div class="form-group target">
                            <label for="targetItem">Target</label>
                            <select class="form-control" id='targetItem' name='ssid'>
                                <option>All students</option>
                                <option>Spatial Sciences</option>
                                <option>Gender and Diversity</option>
                                <option>Economics and Business</option>
                                <option>Human Resource Management</option>
                                <option>Artificial Intelligence</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-body modal-show-body">
                    <div class="jumbotron">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info back">Back</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger delete">Delete</button>
                    <button type="button" class="btn btn-info preview">Preview</button>
                    <button type="button" class="btn btn-warning edit">Edit</button>
                    <button type="submit" class="btn btn-primary finish">Post announcement</button>
                </div>
            </form>
        </div>
    </div>
</div>
</span>
