<div class='col-md-4 cols scheduleCol'>
    <div class='inner-event'>
        <h3 class='underline-title'><a href="../schedulepage">Schedule</a><span class="glyphicon glyphicon-plus pull-right open-modal" data-type=2 data-toggle="modal" data-target="#add-announcement" aria-hidden="true"></span></h3>
        <div class='row innerrow'>
            <ul class="list-group" id='sched-acc'>
                <% var days = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"];
             for(var i = 0; i < 7; ++i) { %>
                    <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#<%= days[i] %>" aria-expanded="true" aria-controls="<%= days[i] %>">
                        <h5>
                            <%= days[i].charAt(0).toUpperCase() + days[i].slice(1) %>
                        </h5>
                        <div id="<%= days[i] %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= days[i] %>Schedule">
                            <div class="panel-body">
                                <ul>
                                    <% if(!schedule[i].length) { %>
                                        No events planned today!
                                    <% } %>
                                    <% for(var j = 0; j < schedule[i].length; ++j) { %>
                                    	<li>
                                            <span><%= new Date(schedule[i][j].start.dateTime) %> - <%= new Date(schedule[i][j].end.dateTime) %></span><span><%= schedule[i][j].description %></span>
										</li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</div>