<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/web_header %>
    <link rel="stylesheet" href="/public/dist/css/lecturerpage.css">
    <script src="/public/dist/js/buttonHandler.js"></script>
    <script src="/public/dist/js/lecturerpage.js"></script>
</head>

<body class="full">
<div id='wrap' class='full'>
    <% include partials/general_navigationbar.ejs %>
    <div class="inner-event">
        <% include partials/lecturer_modal.ejs %>
        <h3 class="underline-title">Lecturers
            <span class="glyphicon glyphicon-plus pull-right open-modal" aria-hidden="true" data-toggle="modal"
                  data-target="#add-lecturer"></span>
        </h3>
        <div class='row innerrow' id='event-screen'>
            <% lecturers.forEach(function(lecturer){ lecturer.website = lecturer.website || ""; %>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 panel open-modal" data-show="overview" data-toggle="modal"
                 data-target="#add-lecturer" data-id=<%- lecturer._id %>>
                <div class="thumbnail inner-event">

                    <img class="img-thumbnail"
                         src=<%= lecturer.imagepath ? lecturer.imagepath : "/images/default/placeholder.jpeg" %> alt="Placeholder">
                    <h4 class="title"><%= lecturer.name %></h4>
                    <div class="caption">
                        <div class="lead data-text"><%- lecturer.description %></div>
                        <a class="data-text website"
                           href="<%= (lecturer.website.substring(0, 7) === "http://") ? lecturer.website : ("http://" + lecturer.website) %>"><%= lecturer.website %></a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>
</body>
</html>
