<!DOCTYPE html>
<html lang="en" class='full'>
<% include partials/loggedin_header %>

    <body class='full'>
        <div id='wrap' class='full'>
            <% include partials/general_navigationbar.ejs %>
            <div class='row' id='event-screen'>
                <div class='col-md-4 cols' id='announcecol'>
                    <div class='inner-event'>
                        <h3 class='underline-title'><a href="../announcepage">Announcements</a><span class="glyphicon glyphicon-plus pull-right open-modal" data-type=0 data-toggle="modal" data-target="#add-announcement" aria-hidden="true"></span>
                        </h3>
                        <div class='row innerrow'>
                            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-toggle="modal" data-type=0 data-id=<%- announcements[announcements.length - 1]._id%>   data-target="#add-announcement">
                                <h4 class='panel-heading'>
                                    <span class ='title'><%= announcements[announcements.length - 1].title %></span><span class="label label-primary pull-right first-new">New</span></h4>
                                <div class='panel-body'>
                                    <p class='lead'>
                                        <%= announcements[announcements.length - 1].description %>
                                        

                                    </p>
                                    <div class='data-text'><%- announcements[announcements.length - 1].description %></div>
                                 
                                    <div class='announce-date'> <% var dt = announcements[announcements.length - 1].date; if (dt) { var newDt = new Date(); newDt.setDate(newDt.getDate() - 1); %> 
                             <%= announcements[announcements.length - 1].date.toString().substring(0,21) %>

                                  <%  if(dt >= newDt) {%>
                    <script>$('.first-new').show();</script>
                    <% } } %></div>
                                </div>
                            </div>
                            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-type=0 data-id=<%- announcements[announcements.length - 2]._id%> data-toggle="modal" data-target="#add-announcement">
                                <h4 class='panel-heading'>
                                    <span class ='title'><%= announcements[announcements.length - 2].title%></span><span class="label label-primary pull-right second-new">New</span></h4>
                                <div class='panel-body'>
                                    <p class='lead'>
                                        <%= announcements[announcements.length - 2].description %>
                                    </p>
                                    <div class='data-text'><%- announcements[announcements.length - 2].description %></div>
                                    
                                    <div class='announce-date'> <% var dt = announcements[announcements.length - 2].date; if (dt) { var newDt = new Date(); newDt.setDate(newDt.getDate() - 1); %> 
                             <%= announcements[announcements.length - 2].date.toString().substring(0,21) %>

                                  <%  if(dt >= newDt) {%>                    
                                  <script>$('.second-new').show();</script>
                    <% } } %></div>                                </div>
                            </div>
                            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-type=0 data-id=<%- announcements[announcements.length - 3]._id%> data-toggle="modal" data-target="#add-announcement">
                                <h4 class='panel-heading'>
                                    <span class ='title'><%= announcements[announcements.length - 3].title%></span><span class="label label-primary pull-right third-new">New</span></h4>
                                <div class='panel-body'>
                                    <p class='lead'>
                                        <%= announcements[announcements.length - 3].description %>
                                    </p>
                                    <div class='data-text'><%- announcements[announcements.length - 3].description %></div>
                                   
                                    <div class='announce-date'> <% var dt = announcements[announcements.length - 3].date; if (dt) { var newDt = new Date(); newDt.setDate(newDt.getDate() - 1); console.log(dt); console.log(newDt); console.log(dt >= newDt);%> 
                             <%= announcements[announcements.length - 3].date.toString().substring(0,21) %>

                                  <%  if(dt >= newDt) {%>
                    <script>$('.third-new').show();</script>
                    <% } } %></div>                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 cols' id ='geninfocol'>
                    <div class='inner-event'>
                        <h3 class='underline-title'><a href="../generalinfo">General Information</a><span class="glyphicon glyphicon-plus pull-right open-modal" data-toggle="modal" data-type=1 data-target="#add-announcement" aria-hidden="true"></span></h3>
                        <div class='row innerrow'>
                            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-type=1 data-id=<%- generalinfo[generalinfo.length - 1]._id%> data-toggle="modal" data-target="#add-announcement">
                                <h4 class='panel-heading'>
                                    <span class ='title'><%-generalinfo[generalinfo.length - 1].title %></span></h4>
                                <div class='panel-body'>
                                <p class='lead'><%= generalinfo[generalinfo.length - 1].description %>
                                </p>
                                        <div class='data-text'><%- generalinfo[generalinfo.length - 1].description %></div>
                                    <small class='read-more'><a data-toggle="modal" data-target="#add-info">Read more...</a></small>
                                </div>
                            </div>
                            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-type=1 data-id=<%- generalinfo[generalinfo.length - 2]._id%> data-toggle="modal" data-target="#add-announcement">
                                <h4 class='panel-heading'>
                                    <span class ='title'><%= generalinfo[generalinfo.length - 2].title %></span></h4>
                                <div class='panel-body'>
                                    <p class='lead'>
                                        <%= generalinfo[generalinfo.length - 2].description %>
                                    </p>
                                    <div class='data-text'><%- generalinfo[generalinfo.length - 2].description %></div>

                                    <small class='read-more'><a data-toggle="modal" data-target="#add-info">Read more...</a></small>
                                </div>
                            </div>
                            <div class='col-md-12 announce panel panel-default open-modal' data-show='overview' data-type=1 data-id=<%- generalinfo[generalinfo.length - 3]._id%> data-toggle="modal" data-target="#add-announcement">
                                <h4 class='panel-heading'>
                                    <span class ='title'><%= generalinfo[generalinfo.length - 3].title %></span></h4>
                                <div class='panel-body'>
                                    <p class='lead'>
                                        <%= generalinfo[generalinfo.length - 3].description %>
                                    </p>
                                    <div class='data-text'><%- generalinfo[generalinfo.length - 3].description %></div>
                                    <small class='read-more'><a data-toggle="modal" data-target="#add-info">Read more...</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-md-4 cols scheduleCol'>
                    <div class='inner-event'>
                        <h3 class='underline-title'><a href="../schedulepage">Schedule</a><span class="glyphicon glyphicon-plus pull-right" data-toggle="modal" data-target="#myModal" aria-hidden="true"></span></h3>
                        <div class='row innerrow'>
                            <ul class="list-group" id='sched-acc'>
							  <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#monday" aria-expanded="true" aria-controls="monday"><h5>Monday</h5><div id="monday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mondaySchedule">
      <div class="panel-body">
        <ul>
      	<li>
        	<span>10:00 - 23:00</span><span>Things to do.</span>
        </li>
        <li>
        	<span>10:00 - 23:00</span><span>Things to do.</span>
        </li>
        </ul>
      </div>
    </div></li>
							  <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#tuesday" aria-expanded="true" aria-controls="tuesday"><h5>Tuesday</h5><div id="tuesday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tuesdaySchedule">
      <div class="panel-body">
        Things to do.
      </div>
    </div></li>
							  <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#wednesday" aria-expanded="true" aria-controls="wednesday"><h5>Wednesday</h5><div id="wednesday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="wednesdaySchedule">
      <div class="panel-body">
        Things to do.
      </div>
    </div></li>
							  <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#thursday" aria-expanded="true" aria-controls="thursday"><h5>Thursday</h5><div id="thursday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="thursdaySchedule">
      <div class="panel-body">
        Things to do.
      </div>
    </div></li>
							  <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#friday" aria-expanded="true" aria-controls="friday"><h5>Friday</h5><div id="friday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fridaySchedule">
      <div class="panel-body">
        Things to do.
      </div>
    </div></li>
							  <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#saturday" aria-expanded="true" aria-controls="saturday"><h5>Saturday</h5><div id="saturday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="saturdaySchedule">
      <div class="panel-body">
      	<ul>
      	<li>
        	<span>10:00 - 23:00</span><span>Things to do.</span>
        </li>
        <li>
        	<span>10:00 - 23:00</span><span>Things to do.</span>
        </li>
        </ul>
      </div>
    </div></li>
							  <li class="list-group-item" data-toggle="collapse" data-parent="#sched-acc" href="#sunday" aria-expanded="true" aria-controls="sunday"><h5>Sunday</h5><div id="sunday" class="panel-collapse collapse" role="tabpanel" aria-labelledby="sundaySchedule">
      <div class="panel-body">
        Things to do.
      </div>
    </div></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class='row'>
            <iframe src="https://calendar.google.com/calendar/embed?src=1ue00hf59k7ms345mtab6dnfqc%40group.calendar.google.com&ctz=Europe/Amsterdam" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
        </div>-->

            <div class="modal fade" id="add-announcement" tabindex="-1" role="dialog" aria-labelledby="addAnnouncement">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <form method="post">

                            <div class="modal-body modal-add-body">
                                <div class="form-group">
                                    <label for="announcementTitle" id='section-header'></label>
                                    <input type="text" class="form-control" id="announcementTitle" name="title" placeholder="Title">
                                </div>
                                <div class="form-group">
                                    <label for="announcementDescription">Content</label>
                                    <textarea type="text" class="form-control" id="announcementDescription" name="description" placeholder="Text" rows="4"></textarea>
                                </div>

                                <div class="form-group target">
                                    <label for="announcementDescription">Target</label>
	                                <select class="form-control">
							  	  	  <option>All students</option>
							  		  <option>Spatial Sciences</option>
							  		  <option>Gender and Biversity</option>
							  		  <option>Economics and Business</option>
							  		  <option>Human Resource Management</option>
							  		  <option>Artificial Intelligence</option>
							  		</select>
                                </div>

                            </div>
                            <div class="modal-body modal-show-body">
                            	<div class="jumbotron">
                            	</div>
                            </div>
                            <div class="modal-footer">
                            	<button type="button" class="btn btn-info back">Back</button>

                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger delete">Delete</button>
                                <button type="button" class="btn btn-info preview">Preview</button>
                                <button type="button" class="btn btn-warning edit">Edit</button>
                                <button type="submit" class="btn btn-primary finish">Post announcement</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>
